/**
 * Colours.
 */
@bright-yellow: #FFE319;
@text-color: #161616;
@divider-blue: #8bc3ee;

/**
 * Componentised styles.
 */
@import (reference) "../bower_components/bootstrap/less/bootstrap";
@import (css) "skillbar.css";
@import (css) "callouts.css";
@import (less) "preloader.css";

/**
 * Fonts.
 */
@font-face {
  font-family: 'qsiovwbzki';
  src: url('../assets/fonts/qsiovwbzki-semibold-webfont.eot'),
  url('../assets/fonts/qsiovwbzki-semibold-webfont.woff') format('woff'),
  url('../assets/fonts/qsiovwbzki-semibold-webfont.ttf') format('truetype'),
  url('../assets/fonts/qsiovwbzki-semibold-webfont.svg#qsiovwbzki') format('svg');
  font-weight: normal;
  font-style: normal;
}

/**
 * Typography.
 */
body {
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
}

p {
  margin: 0 0 17px;
  line-height: 1.3em;
}

h1, h2, h3, h4 {
  font-weight: 600;
  line-height: 1.2;
  font-family: qsiovwbzki;
  letter-spacing: -2px;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 3.75em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.15em;
}

h6 {
  font-size: 0.8em;
  font-weight: 700;
}

blockquote {
  font-family: qsiovwbzki;
  font-size: 1.7em;
  line-height: 1.5em;
  border-left: 5px solid @divider-blue;
}

.undertitle {
  font-size: 1.3em;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
}

.teaser-text {
  font-size: 1.05em;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
}

.tooltip {
  font-size: 0.85em;
}

/**
 * General styles.
 */
::selection {
  background: @bright-yellow;
  color: #323232;
}

.blur {
  -webkit-filter: blur(5px);
}

/**
 * Dividers.
 */
.fbs-divider {
  min-height: 275px;
  background-color: @divider-blue;
  width: 100%;
  margin: 50px 0;
  padding-top: 30px;
  text-align: center;
}

/**
 * Top Banner.
 */
#banner {
  width: 100%;
  height:100vh;
  text-align: center;
  color: white;

  .banner-wrapper {
    padding-top: 22vh;
    position: relative;
    z-index: 100;
  }

  .big-text {
    display: block;
    font-weight: 600;
    font-size: 7.5em;
    letter-spacing: 0px;
    -webkit-font-smoothing: antialiased;
    font-family: qsiovwbzki;
    text-transform: uppercase;
  }

  .small-text {
    display: block;
    font-size: 2.1em;
    text-transform: uppercase;
    margin-top: 1em;
  }

  .button-wrapper {
    margin-top: 5.2em;

    .button {
      color: white;
      border: 2px solid white;
      margin-right: 3em;
    }

    .button:hover {
      color: @bright-yellow;
      border: 2px solid @bright-yellow;
    }

    .button:last-child {
      margin-right: 0em;
    }
  }
}

.video-overlay {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 15 ;
  background: -webkit-linear-gradient(top, rgba(5, 1, 5, 0.2), transparent);
  background: -o-linear-gradient(top, rgba(5, 1, 5, 0.2), transparent);
  background: -moz-linear-gradient(top, rgba(5, 1, 5, 0.2), transparent);
  background: linear-gradient(top, rgba(5, 1, 5, 0.2), transparent);
}

.video-background video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 5;
}

.trans-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 50;
  background: rgba(255, 255, 255, 0.15);
}

#about {
  .fbs-divider {
    margin: 0px 0 50px 0;
  }

  .about-me-img {
    width: 33%;
    float: left;
    padding: 0px 15px 15px 0px;
  }
}

/**
 * Work.
 */
#work {
  .fbs-divider {
    margin-bottom: 0;
  }

  .work-component-image {
    max-width: 100%;
  }

  .work-article {
    display: none;
  }

.work-component{
  position: relative;
  padding: 0;
  overflow: hidden;
}
  .layer {
    position: absolute;
    background: rgba(150,150,150,0.15);
    width: 100%;
    height: 100%;
    top: 100%;
    left: 100%;
    overflow: hidden;
    text-align: center;
    color: @text-color;
    padding-top: 25%;
  }
}

.modal-dialog {
  width: 90%;
  padding-top: 8%;

  #close-work-modal {
    display: block;
    color: #d3d3d3;
    position: absolute;
    right: 12px;
    cursor: pointer;
    font-size: 1.6em;
    z-index: 100;
    margin-top:5px;
  }

  .modal-body {
    padding: 10px 35px 35px 35px;
  }

  h2 {
    margin: 0.5em auto 0.1em auto;
    line-height: 1;
  }

  .undertitle {
    margin-bottom: 0.6em;
  }

  .bs-callout {
    margin-top: -70px;
  }
}

.modal-backdrop {
  background-color: rgba(176, 176, 176, 0.85);
}

/**
 * Blog.
 */
#blog {
  .fbs-divider {
    margin-top: 0;
    padding-top: 55px;
  }

  .blog-thumbnail-wrapper {
    overflow: hidden;
    display: block;
    width:100%;
    position: relative;
  }

  .blog-thumbnail-wrapper > img {
    display: block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    position: relative;

    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
  }

  .thumbnail a.button {
    display:none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    margin-left:auto;
    margin-right:auto;
    z-index: 100;
  }

  .blog-component-image {
    max-width: 100%;
  }

  h6 {
    margin: 0px 0 3px 0;
  }
}

/**
 * Blog post page.
 */
.blog-post-image {
  height:450px;
  margin-top: 0px;
}

.blog-post-container {
  margin: -195px auto auto auto;
  background-color: white;
  float: none;
  padding: 10px 50px 10px 50px;
}

.center {
  text-align: center;
}

.blog-post-date {
  margin-top: 30px;
  margin-bottom: 10px;
}

.go-back {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

/**
 * Contact me.
 */
.social-icons {
  margin: auto;
  margin-top: 25px;
  text-align: center;
  min-height: 60px;

  a {
    display: inline-block;
    margin: 0 3px;
    width: 60px;
    height: 60px;
    line-height: 57px;
    color: @text-color;
    border: 2px solid @text-color;
    text-align: center;
    font-size: 1.3em;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;

    &:hover {
      border-color: @bright-yellow;
      color: @bright-yellow;
    }
  }
}

#contact {
  .fbs-divider {
    padding-top: 0px;
  }
}

#mc_embed_signup {
  margin: 20px 0px;
}

footer {
  height: 100px;
  background-color: #d3d3d3;
  text-align: center;
  padding: 50px 0px;
}

/**
  * Buttons.
* */
.button {
  display: inline-block;
  padding: 20px 60px;
  color: @text-color;
  border: 2px solid @text-color;
  font-size: 0.9em;
  font-weight: 600;
  -webkit-transition: all 0.2s;
  -moz-transition:    all 0.2s;
  -o-transition:      all 0.2s;
  transition:         all 0.2s;

  .medium {
    padding: 10px 30px;
    font-size: 0.85em;
  }

  .small {
    padding: 5px 15px;
    font-size: 0.75em;
  }

  .border {
    color: #d7d7d7;
    border: 2px solid #d7d7d7;
    background: none;
  }

  &:hover {
    border: 2px solid @text-color;
    background: none;

  }

  a&:hover {
    color: @text-color;
    text-decoration: none;
  }
}

/**
 * Forms.
 */
.button.small {
  padding: 5px 15px;
  font-size: 0.75em;
}

input {
  background-color: white;
}

input.text {
  width: 100%;
  color: @text-color;
  max-width: 450px;
  padding: 13px;
  background: rgba(255,255,255,0.35);
  border: none;
  -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.15);
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.15);
  box-shadow: inset 0 0 3px rgba(0,0,0,0.15);
  margin-bottom: 30px;
  font-size: 1.2em;
  font-weight: 400;
  font-family: "helvetica neue", sans-serif;
  -webkit-font-smoothing: antialiased;
}