<div class="row">
  <div class="fbs-divider">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>
            {{start.about.about_title}}
          </h1>
          <div class="undertitle">
            {{start.about.about_blurb}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="/assets/images/me_sq.jpg" class="about-me-img" alt="Image of side view portrait of Neil Cameron">
        <div ng-bind-html="start.about.about_col_1.value | mysce"></div>

      </div>
      <div class="col-md-6">
        <div ng-include='"views/partials/skillbar.html"'></div>
        <div ng-bind-html="start.about.about_col_2.value | mysce"></div>
      </div>
    </div>
  </div>
</div>
