<div class="row">
  <div class="fbs-divider">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>
            {{start.about.about_title}}
          </h1>
          <div class="undertitle">
            {{start.about.about_blurb}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">{{start.about.about_col_1}}</div>
      <div class="col-md-6">
        <div ng-include='"views/partials/skillbar.html"'></div>
        {{start.about.about_col_2}}
      </div>
    </div>
  </div>
</div>
