<div class="video-overlay"></div>


<div class="banner-wrapper">
  <div class="big-text">
    {{start.landing.land_title}}
  </div>
  <div class="small-text">
    {{start.landing.catch_line}}
  </div>

  <div class="button-wrapper">
    <a class="button border" href="" scroll-to="about">About</a>
    <a class="button border" href="" scroll-to="work">Projects</a>
    <a class="button border" href="" scroll-to="blog">Blog</a>
  </div>
</div>

<!-- START VIDEO BACKGROUND -->
<video poster="videos/video-background-poster.jpg" autoplay loop muted>
  <source src="assets/video/9995199.mp4" type="video/mp4">
</video><!-- END VIDEO BACKGROUND -->