<div class="row">
  <div class="container fbs-divider">
    <div class="row">
      <div class="col-md-12">
        <h1>
          {{start.blog.blog_title}}
        </h1>
        <div class="undertitle">
          {{start.blog.blog_blurb}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3"
       id="blog-preview"
       ng-repeat="blog in blogs|limitTo:5"
       ng-include='"views/partials/components/blog-component.html"'>
  </div>

  <div id="blog-load-more" class="blog-button">
    <a class="button border" href="#/blog/archive">
      See all
    </a>
  </div>
</div>
