<div class="headline-wrapper contact-headline">
  <div class="row">
    <h1 class="underline">
      {{start.contact.contact_title}}
    </h1>
    <p class="undertitle">
      {{start.contact.contact_blurb}}
    </p>
    <div class="social-icons">
      <a href="https://twitter.com/ncameron" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="https://uk.linkedin.com/in/neiljcameron" target="_blank"><i class="fa fa-linkedin"></i></a>
      <a href="https://github.com/njcameron" target="_blank"><i class="fa fa-github"></i></a>
      <a href="mailto:neil@neilcameron.me" target="_blank"><i class="fa fa-envelope"></i></a>
    </div>
  </div>
</div>

<div class="bottom-box">
  <div class="row">
    {{start.footer.footer_text}}
  </div>
</div>