<div class="parallax-content parallax-newsletter">
  <div class="row">
    <h3>{{start.newsletter.newsletter_title}}</h3>
    <p class="undertitle">
      {{start.newsletter.newsletter_blurb}}
    </p>

    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
      <form action="//neilcameron.us9.list-manage.com/subscribe/post?u=862d37c61e1b355f6afad1513&amp;id=d4cbc555c8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <div class="mc-field-group">
            <input type="email" value="" name="EMAIL" class="text required email" id="mce-EMAIL" placeholder="Your email">
          </div>
          <div class="mc-field-group">
            <input type="text" value="" name="NAME" class="text required" id="mce-NAME" placeholder="Your name">
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_862d37c61e1b355f6afad1513_d4cbc555c8" tabindex="-1" value=""></div>
          <div class="clear">
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="submit button border">
          </div>
        </div>
      </form>
    </div>
    <!--End mc_embed_signup-->

  </div>
</div>

<script>
  $('#banner').parallax({
    speed :	0.2
  });
  $('.parallax-content').parallax({
    speed :	0.2
  });
</script>