<div class="row">
  <div class="fbs-divider">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="big_banner_text">
            {{start.work.work_title}}
          </div>
          <div class="undertitle">
            {{start.work.work_blurb}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" id="work-components">
  <div class="col-md-4 col-sm-6 col-xs-12 work-component" ng-repeat="work in works|limitTo:6" ng-include='"views/partials/components/work-component.html"' directional-hover></div>
</div>