<div class="row">
  <div class="fbs-divider">
    <h1>{{start.work.work_title}}</h1>
    <div class="undertitle">
      {{start.work.work_blurb}}
    </div>
  </div>
</div>

<div id="work-wrapper">
  <div class="close">
    <a id="close-work-wrapper"></a>
  </div>
  <div id="work-loader"><img src="images/layout/color_loader.gif" alt="" /></div>
  <div id="load-work-content" >
    <!-- WORK DETAILS LOAD HERE -->
  </div>
</div>

<div class="row">
  <div class="col-md-4" ng-repeat="work in works|limitTo:6" ng-include='"views/partials/components/work-component.html"'></div>
</div>