<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <i id="close-work-modal" class="fa fa-times" ng-click="$hide()"></i>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <h2>{{work.field_project_title[0].value}}</h2>
            <div class="undertitle">{{work.field_client[0].value}}</div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div ng-bind-html="work.field_work_col_1[0].value | mysce"></div>
            <a class="button"
               role="button"
               ng-show="{{work.field_project_link[0].value != ''}}"
               href="{{work.field_project_link[0].value}}"
               target="_blank">
              View Project
            </a>
          </div>

          <div class="col-md-6">
            <div ng-bind-html="work.field_work_col_2[0].value | mysce"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>