<!-- HTML Meta data -->
<meta view-head property="title" content="{{blog.title[0].value}}" />
<meta view-head property="description" content="{{blog.field_standfirst[0].value | htmlToPlaintext}}" />

<!-- Twitter card meta data -->
<meta view-head name="twitter:card" content="summary_large_image" />
<meta view-head name="twitter:site" content="@ncameron" />
<meta view-head name="twitter:title" content="{{blog.title[0].value}}" />
<meta view-head name="twitter:description" content="{{blog.field_standfirst[0].value | htmlToPlaintext}}" />
<meta view-head name="twitter:image" content="{{blog.thumbnail}}" />

<!-- Facebook card meta data -->
<meta view-head property="og:title" content="{{blog.title[0].value}}" />
<meta view-head property="og:site_name" content="Neilcameron.me"/>
<meta view-head property="og:image" content="{{blog.fullImage}}"/>
<meta view-head property="og:url" content="http://neilcameron.me/#!/blog/post/{{blog.nid[0].value}}"/>
<meta view-head property="og:description" content="{{blog.field_standfirst[0].value | htmlToPlaintext}}" />
<meta view-head property="og:type" content="article" />
<meta view-head property="og:locale" content="en_UK" />
<meta view-head property="article:author" content="https://www.facebook.com/njcameron" />
<meta view-head property="article:publisher" content="https://www.facebook.com/njcameron" />

<!-- Human content -->
<div class="container-fluid">
  <div class="row">
    <!-- parallax for desktop, static for mobile -->
    <div class="blog-post-image hidden-sm hidden-xs" parallax-background parallax-ratio="0.4" style="background-image: url({{blog.fullImage}})"></div>
    <div class="blog-post-image hidden-md hidden-lg" style="background-image: url({{blog.fullImage}})"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-9 blog-post-container">
      <h1 class="" view-title>{{blog.title[0].value}}</h1>
      <h5 class="blog-post-date">{{blog.date | date:'d MMM yyyy'}} // {{blog.category}}</h5>
      <div class="undertitle" ng-bind-html="blog.field_standfirst[0].value | mysce"> </div>
      <div class="blog-post-body" ng-bind-html="blog.body[0].value | mysce"></div>
      <br/>
      <hr/>
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'neilcameronme';
        var disqus_identifier = "{{blog.nid[0].value}}";
        var disqus_title = "{{blog.title[0].value}}";
        var disqus_url = "http://neilcameron.me/#!/blog/post/{{blog.nid[0].value}}";

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>
  </div>
</div>

<div class="go-back"><a class="small button border" href="/#!/">Go back</a></div>

<div class="row">
  <footer ng-controller="MainCtrl">
    {{start.footer.footer_text}}
  </footer>
</div>