<meta name="description" content="Neil Cameron is a freelance drupal consultant and tech lead
    focused on building great developer teams and products.">
<view-title>Neil Cameron - Drupal | London | Consultant | Contractor</view-title>


<div class="container-fluid">
  <section ng-include="'views/partials/header.html'"></section>

  <section ng-include='"views/partials/banner.html"' id="banner" class="video-background"></section>

  <section ng-include='"views/partials/about.html"' id="about"></section>

  <section ng-include='"views/partials/work.html"' ng-controller="WorkCtrl" id="work"></section>

  <section ng-include='"views/partials/blog.html"' ng-controller="BlogCtrl" id="blog"></section>

  <section ng-include='"views/partials/footer.html"' id="contact"></section>
</div>